/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/*.Login, .divRecuperarclave {
    border: 1px solid #00ffff;
    width: 50%;
    height: 40%;
    
}

.cmdRecuperarDatos {
    text-align: right;
    cursor: pointer;
    color: #4800ff;
    margin: 5px;
}

    .cmdRecuperarDatos:hover {
        border-bottom: 2px double #4800ff;
    }

.hidden {
    display: none
}*/

/*.Login, .divRecuperarclave {
    border: 1px solid #00ffff;
    background-color: white;
    
}


.cmdRecuperarDatos {
    cursor: pointer;
    color: #4800ff;
    text-align: right;
}

    .cmdRecuperarDatos:hover {
        border-bottom: 2px double #4800ff;
    }*/



/*body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000d6;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

/* Elimina los márgenes automáticos del contenedor principal */
/*.container.body-content {
    width: 100%;
    max-width: 50%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.Login, .divRecuperarclave {
    border: 4px solid #00ffff;
    background-color: white;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
}
    .Login, .divRecuperarclave label {
        text-align: left;
    }
input {
    padding: 12px;
    font-size: 1.2rem;
}*/


/* Resto de tus estilos permanecen igual */
/*.cmdRecuperarDatos {
    cursor: pointer;
    color: #4800ff;
    text-align: right;
    display: block;
    margin: 1rem 1rem;
    text-decoration: none;
}
.cmdAccesar, .enviarDatos, .cancelarEnvioDatos {
    margin-top: 2%;
}*/

.hidden {
    display: none !important;
}

/* Ajustes para el footer */
/*.footer {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    color: #6c757d;
    font-size: 0.9rem;
}*/

body {
    margin: 0 0;
    background-color: #000000d6;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    width:100%;
    height:100%;
}

/*display: flex;
justify-content: center;
align-items: center;*/
/* Ajustes responsivos */
@media (max-width: 576px) {
    body {
        padding: 15px;
    }

    .Login, .divRecuperarclave {
        padding: 1.5rem;
    }

        .Login .form-control,
        .divRecuperarclave .form-control {
            height: 50px;
            font-size: 1rem;
        }
}


